section.collection-img-ctn {
  border: none;
}

.slider-ctn a,
.slider-ctn img {
  display: block;
  width: 100%;
}

.slider-ctn .desktop-slider {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider-ctn .mobile-slider {
    display: none;
  }

  .slider-ctn .desktop-slider {
    display: block;
  }
}
